<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="navbar">
        <div class="logo" style="font-size: 24px; color: #fff; font-weight: bold;">
            <h1 style="font-size: 24px; color: #fff; font-weight: bold;">Muler's Weather App</h1>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>

    <div class="card">
        <div class="search">
            <input type="text" placeholder="enter city name" spellcheck="false">
            <button><img src="images/search.png"></button>
        </div>
        <div class="error">
            <p>invalid city name</p>
        </div>
        <div class="weather">
            <img src="images/rain.png" class="weather-icon">
            <h1 class="temp">22°C</h1>
            <h2 class="city">New York</h2>
            <div class="details">
                <div class="col">
                    <img src="images/humidity.png">
                    <div>
                        <p class="humidity">50%</p>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src="images/wind.png">
                    <div>
                        <p class="wind">15 km</p>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const apiKey = "84cd714abb04e92b0ebfcdd7bb003479";
        const apiUrl = "https://api.openweathermap.org/data/2.5/weather?&units=metric&q=";
        const searchBox = document.querySelector(".search input");
        const searchBtn = document.querySelector(".search button");
        const weatherIcon = document.querySelector(".weather-icon");

        async function checkWeather(city) {
            const response = await fetch(apiUrl + city + `&appid=${apiKey}`);
            if (response.status == 404) {
                document.querySelector(".error").style.display = "block";
                document.querySelector(".weather").style.display = "none";
            } else {
                var data = await response.json();

                document.querySelector(".city").innerHTML = data.name;
                document.querySelector(".temp").innerHTML = Math.round(data.main.temp) + "°C";
                document.querySelector(".humidity").innerHTML = data.main.humidity + "%";
                document.querySelector(".wind").innerHTML = data.wind.speed + " km/h";
                switch (data.weather[0].main.toLowerCase()) {
                    case "clouds":
                        weatherIcon.src = "images/clouds.png";
                        break;
                    case "clear":
                        weatherIcon.src = "images/clear.png";
                        break;
                    case "rain":
                        weatherIcon.src = "images/rain.png";
                        break;
                    case "drizzle":
                        weatherIcon.src = "images/drizzle.png";
                        break;
                    case "mist":
                        weatherIcon.src = "images/mist.png";
                        break;
                    case "snow":
                        weatherIcon.src = "images/snow.png";
                        break;
                    default:
                        weatherIcon.src = "images/unknown.png";
                        break;
                }

                document.querySelector(".weather").style.display = "block";
                document.querySelector(".error").style.display = "none";
            }
        }

        searchBtn.addEventListener("click", () => {
            checkWeather(searchBox.value);
        });
    </script>
</body>

</html>
